<footer class="footer">
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-left">
        <a href="https://www.instagram.com/siddharth" target="_blank">
          <img src="/images/instagramicon.png" alt="Instagram">
        </a>
        <a href="https://www.facebook.com/siddharth" target="_blank">
          <img src="/images/facebookicon.png" alt="Facebook">
        </a>
      </div>
      <div class="footer-right">
        <a href="mailto:test@test.com">Inquire now, email us at test@test.com</a>
      </div>
    </div>
  </div>
</footer>
