<!DOCTYPE html>
<html>

<head>
  <title>Issue Tracker</title>
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/footer.css">
</head>

<body>

  {{>header}}
  <div id="scroll-container">
    
  </div>
  <div>
    <div id="left">
      <i class="fa-solid fa-angle-left arrow"></i>
    </div>
    <div id="right">
      <i class="fa-solid fa-angle-right arrow"></i>
    </div>
  </div>
  {{>footer}}

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="index.js"></script>
  <script src="https://kit.fontawesome.com/58df015486.js" crossorigin="anonymous"></script>
  <!-- Rest of the website content goes here -->
</body>

</html>