<!DOCTYPE html>
<html>

<head>
  <title>Issue Tracker</title>
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/footer.css">
</head>

<body>

  {{>header}}
    <div>
      <ul>
        <h1>Projects</h1>
        {{#each projects}}
        <li>
          <div class="project-card">
            <a href="/project/{{_id}}" class="a-title"><h4 class="title">{{name}}</h4></a>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  {{>footer}}

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="index.js"></script>
  <script src="https://kit.fontawesome.com/58df015486.js" crossorigin="anonymous"></script>
  <!-- Rest of the website content goes here -->
</body>

</html>